# Ignore toplevel hidden directories
/.*/
# Ignore anything hidden in subdirectories
**/*/.*

# Temporary files
*~*
*$*
*.swp

# Build directories
build/
build-*/
_build/
target/
__*__/


# Added by cargo

/target
