# Ignore hidden directories in the root
/.*/
# Ignore anything hidden in subdirectories
**/*/.*

# Temporary files
*~*
*$*
*.swp

# Build/output directories and files
bin/
target/
node_modules/
__*__/

examples/interpreter/Cargo.lock
